.logo {
    font-size: 34px !important;
    font-weight: bold;
    text-transform: uppercase !important;
    background: linear-gradient(90deg, #2e4a79 33%, #1d7ce2 66%, #1ec9e7) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: #0B2349 !important;
    display: table !important;
}
