.cardWidth {
    max-width: 900px;
    transition: 1s;

    position: relative;
    z-index: 1;
}

.show {
    animation: show .7s ease-out;
}

@keyframes show {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1; 
    }
}